/* *{
  border: red 1px solid !important;
} */

body {
  padding: 0;
  margin: 0;
}

html {
  background-color: #060831;
  color: white;
  font-size: 16px;
  padding: 0;
  font-family: 'Quicksand';
  margin: 0 20px;
}

h3{
  font-family: "Oswald";
  color: #ffd300;
  font-size: 1.5em;
}

/* Header */
header {
  width: 100%;
  background-color: #15141f;
  margin: 0;
  padding: 0;
}

header ul {
  padding: 10px;
  text-align: right;
  margin: 0;
}

header li {
  margin: 5px;
  list-style-type: none;
  display: inline-block;
}

header a {
  text-decoration: none;
}

/* Banner */

banner {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  text-align: center;
  width: 100%;
}

banner h1 {
  font-family: "Oswald";
  font-size: 5em;
  font-weight: bold;
  margin: 0;
  color: #ffd300;
}

banner h2 {
  font-family: "Oswald";
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  color: #ffd300;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #060831;
  opacity: 0.8;
  z-index: 1;
}

/* Article */
article{
  color: #ffd300;
  line-height: 1.5rem;
  width: 100%;
}

.text{
  width: 100%;
}

article img {
  width: 100%;
  border-radius: 50%;
}

/* Projects */
.projects{
  background-color: #ffd300;
  color: #15141f;
  width: 100%;
}

.projects h3{
  color: #15141f;
  margin: 10px 0;
}

.projects li{
  list-style-type: square;
  font-weight: bold;
}


/* Skills */


.skills{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  justify-items: center;
  justify-content: center;
  height: 150px;
}

.skills h3{
  margin: 10px 0;
}

.skills-container{
  display: flex;
  margin: 10px 0;;
}

.fab {
  margin: 0 5px;
  color: #ffd300;
  font-size: 3em;
}

/* Footer */
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #15141f;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 0;
}

footer p{
  margin: 2px auto;
}

@media only screen and (min-width: 1000px) {

  html {
    padding: 0 300px;
  }

  banner h1{
    font-size: 7rem;
  }

  banner h2{
    font-size: 3rem;
  }
  
  article {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    padding: 10px 0;
  }
  
  .text{
    width: 45%;
    margin: auto 0;;
  }
  
  article img {
    width: 30%;
  }
  
  .projects{
    padding: 10px;
    margin-top: 10px;
  }
}

.skills{
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  
  .skills{
    padding: 10px;
  }
  .projects{
    padding: 10px;
    margin-top: 10px;
  }
  banner h1{
    font-size: 7rem;
  }
  
  banner h2{
    font-size: 3rem;
  }
  
  article {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    padding: 10px 0;
  }
  
  .text{
    width: 45%;
    margin: auto 0;;
  }
  
  article img {
    width: 40%;
  }
  
}